body {
    background-image: url("../img/tws_hdbg.gif");
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 100% !important;
    height: 100%;
}

.left-side {
    width: 20%;
    float: left;
    min-height: 700px;
    background: #EAECEE;
}

.profil-photo-wrapper {
    height: 250px;
    width: 100%;
    padding: 15.4px 38px 15.4px 38px;
}

.profil-photo {
    width: 75%;
    height: 200px;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.75);
}

.social-links {
    width: 85%;
    height: 40px;
    margin: 10px 7.5% 3px 7.5%;
}

.links-flex {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.links-flex i {
    font-size: 40px;
}

.right-side {
    width: 80%;
    float: left;
    min-height: 700px;
}

.informations ul {
    background: #D5D8DC;
    height: 350px;
}

.informations ul li {
    width: 95%;
    padding: 10px 2.5% 10px 2.5%;
}

.header {
    height: 261.1px;
}

.menu-gap {
    display: flex;
    flex: 1;
    background: #EAECEE !important;
    margin-top: -1px;
    height: 21.9px;
}

.menu ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    background: #ABB2B9 !important;
    margin-top: -1px;

}

.menu li a {
    display: block;
    padding: 10.25px 15px 10.25px 15px;
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline ;
    background: #808B96;
}

.content {
    display: flex;
    flex: 1;
    clear: both;
    flex-direction: column;
    min-height: 400px;
    background: #FBFCFC;
    padding: 10px 9px 10px 9px;
}

.github {
    color: #273746;
}

.twitter {
    color: #3498DB;
}

.linkedin {
    color: #2471A3;
}    

.github:hover {
    color: #17202A;
    text-decoration: underline;
}

.twitter:hover {
    color: #2E86C1;
    text-decoration: underline;
}

.linkedin:hover {
    color: #1F618D;
    text-decoration: underline;
}

.nested-list {
    margin: 10px 10px 10px 30px;
}

a {
    color: blue;
}



